<div th:fragment="navy"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <div class="container-fluid">

            <a class="navbar-brand"
               th:href="@{/(lang=${#locale.language})}"
               th:text="#{shop.name}">Shop</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNavbar">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/catalog(lang=${#locale.language})}"
                           th:text="#{menu.catalog}">Catalog</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('CLIENT')">
                        <a class="nav-link"
                           th:href="@{/cart(lang=${#locale.language})}"
                           th:text="#{menu.cart}">Cart</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link"
                           th:href="@{/orders(lang=${#locale.language})}"
                           th:text="#{menu.orders}">Orders</a>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="hasRole('EMPLOYEE')">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false"
                           th:text="#{menu.admin}">Admin</a>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   th:href="@{/admin/appliances(lang=${#locale.language})}"
                                   th:text="#{appliances.menu.name}">Appliances</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   th:href="@{/admin/manufacturers(lang=${#locale.language})}"
                                   th:text="#{manufacturers.menu.name}">Manufacturers</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item"
                                   th:href="@{/admin/clients(lang=${#locale.language})}"
                                   th:text="#{clients.menu.name}">Clients</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   th:href="@{/admin/employees(lang=${#locale.language})}"
                                   th:text="#{employees.menu.name}">Employees</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/(lang='en')}" th:text="#{lang.en}">EN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/(lang='uk')}" th:text="#{lang.uk}">UA</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}" th:text="#{login}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/register}" th:text="#{register}">Register</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('CLIENT')">
                        <a class="nav-link"
                           th:href="@{/account/client(lang=${#locale.language})}"
                           th:text="#{account}">Account</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
                        <a class="nav-link"
                           th:href="@{/account/employee(lang=${#locale.language})}"
                           th:text="#{employee.profile}">Employee</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post" class="d-inline">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <button class="btn btn-link nav-link" type="submit" th:text="#{logout}">
                                Logout
                            </button>
                        </form>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <span class="navbar-text text-white ms-2" sec:authentication="name">user</span>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>
